/* styles.css */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .btn {
    width: 100%;
  }
  .tab-panel {
    display: none;
  }
  .tab-panel.active {
    display: block;
  }
  